
// ## COLORS ##

//   PRIMARY
//   -------------------  
  $Orange  : #FF8200;
  $White   : #FFFFFF;
  $Smokey  : #58595B;

//   SECONDARY (The names of our colors point to an aspect of UT’s history or the region we call home.)
//   -------------------
  $Valley      : #00746F;
  $Torch       : #E65933;
  $Globe       : #006C93;
  $Limestone   : #F0EDE3;
  $River       : #517C96;
  $Leconte     : #8D2048;
  $Regalia     : #754A7E;
  $Sunsphere   : #FED535;
  $Rock        : #A7A9AC;
  $Legacy      : #579584;
  $Summitt     : #B9E1E2;
  $Buckskin    : #705550;
  $Energy      : #EE3E80;
  $Switchgrass : #ABC178;
  $Fountain    : #2197A9;
  $Eureka      : #EBEA64;
